In [1]:
!pip install NRCLex

Requirement already satisfied: NRCLex in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: textblob in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from NRCLex) (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from textblob->NRCLex) (3.7)
Requirement already satisfied: tqdm in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from nltk>=3.1->textblob->NRCLex) (4.64.0)
Requirement already satisfied: click in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from nltk>=3.1->textblob->NRCLex) (8.0.4)
Requirement already satisfied: joblib in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from nltk>=3.1->textblob->NRCLex) (1.1.0)

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: regex>=2021.8.3 in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from nltk>=3.1->textblob->NRCLex) (2022.3.15)
Requirement already satisfied: colorama in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob->NRCLex) (0.4.4)

In [2]:
from nrclex import 

import numpy as np
import pandas as pd

### Detect emotions: sentence

In [3]:
# Assign emotion
text = 'your website is horrible'
  
# Create object
emotion = (text)
  
# Using methods to classify emotion
print('\n', emotion.words)
print('\n', emotion.)

 ['your', 'website', 'is', 'horrible']

 {'horrible': ['anger', 'disgust', 'fear', 'negative']}

### Let's look at a longer example

In [4]:
text = 'I am humbled and honored to be surrounded by colleagues who challenge,'\
        'support and encourage me at each stage.'\
        'Through them, I’ve learned work isn’t just'\
        'about the tasks we set out to do, but the experiences,'\
        'growth and friendships we build along the way.'

emotion = NRCLex(text)
print('\n', emotion.)
print('\n', emotion.)

 {'humbled': ['positive', 'sadness'], 'challenge': ['anger', 'fear', 'negative'], 'encourage': ['joy', 'positive', 'trust'], 'growth': ['positive'], 'build': ['positive']}

 {'positive': 4, 'sadness': 1, 'anger': 1, 'fear': 1, 'negative': 1, 'joy': 1, 'trust': 1}

### "Top emotions" returns the dominant emotion

In [5]:
print('\n', emotion.)

 [('positive', 0.4)]

### "Affect frequencies" standardizes "Raw emotion scores"

* Assuming each sentence can only have a total score of 1, this is going to tell us which emotion weighs more and which emotions weigh less?

In [6]:
print('\n', emotion.)

 {'fear': 0.1, 'anger': 0.1, 'anticip': 0.0, 'trust': 0.1, 'surprise': 0.0, 'positive': 0.4, 'negative': 0.1, 'sadness': 0.1, 'disgust': 0.0, 'joy': 0.1}

In [7]:
df = pd.read_csv('twitter_disaster_tweet_clean.csv')
df.head()

,Unnamed: 0,id,keyword,location,text,target,emoji_count,hashtags,mentions
0,0,1,NaN,NaN,our deeds are the reason of this may allah for...,1,0,"(' earthquake', 1)",[]
1,1,4,NaN,NaN,forest fire near la ronge sask canada,1,0,"('', 0)",[]
2,2,5,NaN,NaN,all residents asked to shelter in place are be...,1,0,"('', 0)",[]
3,3,6,NaN,NaN,people receive evacuation orders in california,1,0,"(' wildfires', 1)",[]
4,4,7,NaN,NaN,just got sent this photo from ruby as smoke fr...,1,0,"(' alaska, wildfires', 2)",[]

In [8]:
### Make sure you process the data: lemmatization etc (not shown here)

df['emotions'] = df['text'].apply(lambda x: NRCLex(x).affect_frequencies)
df.head()

,Unnamed: 0,id,keyword,location,text,target,emoji_count,hashtags,mentions,emotions
0,0,1,NaN,NaN,our deeds are the reason of this may allah for...,1,0,"(' earthquake', 1)",[],"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
1,1,4,NaN,NaN,forest fire near la ronge sask canada,1,0,"('', 0)",[],"{'fear': 1.0, 'anger': 0.0, 'anticip': 0.0, 't..."
2,2,5,NaN,NaN,all residents asked to shelter in place are be...,1,0,"('', 0)",[],"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
3,3,6,NaN,NaN,people receive evacuation orders in california,1,0,"(' wildfires', 1)",[],"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
4,4,7,NaN,NaN,just got sent this photo from ruby as smoke fr...,1,0,"(' alaska, wildfires', 2)",[],"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."

In [9]:
df = pd.concat([df.drop(['emotions'], axis = 1), df['emotions'].apply(pd.Series)], axis = 1)
df.head()

,Unnamed: 0,id,keyword,location,text,target,emoji_count,hashtags,mentions,fear,anger,anticip,trust,surprise,positive,negative,sadness,disgust,joy,anticipation
0,0,1,NaN,NaN,our deeds are the reason of this may allah for...,1,0,"(' earthquake', 1)",[],0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,NaN
1,1,4,NaN,NaN,forest fire near la ronge sask canada,1,0,"('', 0)",[],1.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,NaN
2,2,5,NaN,NaN,all residents asked to shelter in place are be...,1,0,"('', 0)",[],0.0,0.0,0.0,0.333333,0.0,0.333333,0.166667,0.0,0.0,0.0,0.166667
3,3,6,NaN,NaN,people receive evacuation orders in california,1,0,"(' wildfires', 1)",[],0.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.0,0.0,NaN
4,4,7,NaN,NaN,just got sent this photo from ruby as smoke fr...,1,0,"(' alaska, wildfires', 2)",[],0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,NaN

* Limitation: NRCLex can't handle negations
* Limitation: NRCLex can't recognize words it doesn't know

### References

* https://github.com/metalcorebear/NRCLex
* https://www.geeksforgeeks.org/emotion-classification-using-nrc-lexicon-in-python/